/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  /* background: linear-gradient(135deg, #232526, #414345); */
  overflow-x: hidden;
}

/* ----------------------Navbar Styles-------------- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.logo span{
  color: yellow;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: yellow;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/*--------------------------------------------------------------Home Page Styles */

.home {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20vh 0;
}

.hero-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-text-container {
  width: fit-content;
}

.typing-text {
  font-size: 3.1rem;
  font-family: sans-serif;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: 0;
  animation: typing 3s steps(20, end) forwards, blink 0.6s infinite;
}

.hero-text p {
  font-size: 1rem;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  transition: all 0.5s ease;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(34, 34, 34, 0.2));
}

.hero-image img {
  max-width: 100%;
  height: 100%;
  position: absolute;
}

.hero-image::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(0, 255, 255, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.hero-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.hero-image:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

@media (min-width: 320px) and (max-width: 499px) {
  .home {
    padding-top: 4.5rem;
    padding-bottom: 3rem;
  }

  .hero-text p {
    font-size: 1rem;
    color: #ffffff;
    padding: 10px 10px;

  }

  .typing-text {
    font-size: 1.7rem;
  }

  .hero-image {
    height: 300px;
    width: 300px;
  }

  .hero-image-container {
    margin-top: 50px;
  }
}

@media (min-width: 500px) and (max-width: 769px) {
  .home {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  .hero-text p {
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .typing-text {
    font-size: 3.5rem;
  }

  .hero-image-container {
    margin-top: 20px;
  }

}


/*--------------------------------------------------------------About Page Styles */
.about {
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.hover-underline{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hover-underline h2 {
  width: fit-content;
  padding: 10px 50px;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 4rem;
  position: relative;
  display: inline-block;
}
.hover-underline h2::after,
.hover-underline h2::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #00ffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}
.hover-underline h2::before{
  top: -5px;
  transform-origin: left;
}
.hover-underline h2:hover::after,
.hover-underline h2:hover::before{
  transform: scaleX(1);
}
.about-me{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: large;
  text-align: left;
}
.cv-btn{
  float: left;
}

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  height: 350px;
  width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  transition: all 0.5s ease;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(34, 34, 34, 0.2));
}

.about-image img {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.about-image::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(0, 255, 255, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}
.about-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.about-image:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.skills-container{
  margin: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.skills-box {
  padding: 15px;
  border: 2px solid yellow;
  border-radius: 10px;
  box-shadow: 0 0 5px yellow, 0 0 5px yellow, 0 0 10px yellow;
  background-color: #000;
  cursor: pointer; 
  transition: transform 0.3s ease-in-out;
}
.skills-box:hover{
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 499px) {
  .about-image {
    height: 300px;
    width: 300px;
    margin-top: 3rem;
  }

  .about p {
    font-size: 1rem;
  }
  .skills-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 2rem;
  }
  .skills-box {
    padding: 10px;
  }
}

@media (min-width: 500px) and (max-width: 769px) {
  .about p {
    font-size: 1.2rem;
  }
  .skills-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 2rem;
  }
}
/*--------------------------------------------------------------Project Page Styles */
.project {
  height: fit-content;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 4rem;
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-box {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 0px 0px 20px 20px;
  transition: all 0.5s ease;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(34, 34, 34, 0.767));
}


.project-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(0, 255, 255, 0.3));
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.project-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.project-box:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}


.project-box img{
  position: absolute;
  background-color: #00ffff;
  height: 230px;
  width: 100%;
  cursor: pointer;
  top: 0;
}
.project-details{
  padding: 10px 15px;
  bottom: 0;
  position: absolute;
  left: 0;
}
.project-details h2{
  font-size: x-large;
  color: #ffffff;
}
.project-details p{
  font-size: large;
  color: rgb(194, 193, 193);
}
.technology{
  display: flex;
  gap: 20px;
  padding: 10px 0;
}
@media (min-width: 320px) and (max-width: 499px) {
  .projects-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .project-box {
    width: 280px;
  }
}

@media (min-width: 500px) and (max-width: 769px) {
  .projects-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .project-box {
    width: 300px;
  }
}
/*--------------------------------------------------------------Contact Page Styles */
.contact{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-container {
  width: 50%;
  padding: 20px;
  background: #1e1e1e;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-align: center;
}
.contact-container h2{
  color: yellow;
}
.contact-container p{
  font-size: small;
  color: #fff;
  padding-top: 10px;
  font-weight: 500;
}
.contact-container label{
  font-weight: bold;
  display: block;
  margin-top: 10px;
  text-align: left;
  color: #ffffff;
}
.contact-container input, textarea{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
}
.contact-container button {
  width: 100%;
  margin-top: 15px;
  cursor: pointer;
}
.social-links {
  margin-top: 20px;
}
.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #00adb5;
  font-size: 18px;
}
.social-links i{
  font-size: 35px;
  color: rgba(50, 50, 249, 0.799);
}
.social-links i:hover{
  color: yellow;
}
.footer {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #1e1e1e;
  text-align: center;
  color: #bbb;
}
.footer a {
  color: #00adb5;
  text-decoration: none;
  margin: 0 10px;
}

@media (min-width: 320px) and (max-width: 499px) {
  .contact-container {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 769px) {
  .contact-container {
    width: 80%;
  }
}

.hidden{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out;
}
.visible{
  opacity: 1;
  transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 55px;
    right: 10px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
    height: 100vh;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
}